<div class="email-section">
    <p>Enter your email address here to receive 3 free tracks!</p>
    <p>You will receive a link to download three BlackHawkDown tracks by email within the next few minutes</p>
</div>
<div class="enter-email">
    @Html.TextBox("enter-email")
</div>