@model BhdResponsiveSite.Models.EmailOnlyModel
<div class="email-section clearfix">



    @if (Model == null || !Model.JustSentEmail)
    {
        <div class="free-music-copy-section">
            <div class="free-music">
                Download free demo!
            </div>
            <div class="free-music-text">
                <p>Sign up to our newsletter to download three demo tracks now, and to see a preview of the EP as well as getting future exclusive content. </p>
            </div>
        </div>
        using (Html.BeginForm())
        {
            <div class="email-box">
                @Html.ValidationSummary(true)
                <div class="enter-email">
                    @Html.TextBoxFor(model => model.Email, new { placeholder = "your@emailaddress.com" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                <p>
                    <input type="submit" value="Send" class="submit-email" />
                </p>
            </div>
        }
    }
    
    else if (Model.JustSentEmail)
    {
        <div class="email-box">
            Thanks for registering! @Html.ActionLink("Download your free tracks here", "FreeTracks", "Home", new { Class = "free-tracks-link" })
        </div>
    }


</div>
