<footer>
    <h3>Follow us...</h3>
    <ul id="social-media" class="clearfix">
        <li>
            <a id="facebook" href="http://www.facebook.com/blackhawkdownuk" target="_blank">
                <img alt="BHD on Facebook" src="/Content/images/facebook.png" />
            </a>
        </li>
        <li>
            <a id="twitter" href="http://www.twitter.com/blackhawkdownuk" target="_blank">
                <img alt="BHD on Twitter" src="/Content/images/twitter.png" />
            </a>
        </li>
        <li>
            <a id="youtube" href="http://www.youtube.com/blackhawkdownuk" target="_blank">
                <img alt="BHD on YouTube" src="/Content/images/youtube.png" />
            </a>
        </li>
    </ul>
</footer>