/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
  background-color: #000000;
  height: 100%;
    font-family:  'Iceberg', cursive;
    margin: 0;
    padding: 0;
    color: White;
}

#main-content {
    height: 760px;
}

#main-content ul li {
    list-style-type: none;
    padding: 20px;
    font-size: 22px;
}

header,
footer,
navigation,
section {
    display: block;
}

#logindisplay {
    display:none;
}

a {
    color: Blue;  
    text-decoration: none;
}

a:hover {
    color: Blue;
    text-decoration: underline;
}

a:visited {
    color: Blue;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: whitesmoke;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


#main {
    height: auto;
    position: relative;
    width: 100%;
    top: -66px;
}

#main h2 {
    text-align: center !important;   
}

#main h2 a {
    color: white; 
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 350px;
}

input[id="message"] {
    width: 600px;
    height: 400px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.clear, .clearfix {
    clear: both;
}

.error {
    color: Red;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}



/* LEE'S CSS
----------------------------------------------------------*/

#background 
{
   background-image : url("http://i1122.photobucket.com/albums/l523/sharklaar/band-website-images/treadplate_background_zps299d09a6.jpg");
   width : 100%;
   position: relative;
   height: 1230px;
}

#outer {
    height: 1000px;
    left: 200px;
    position: relative;
    width: 1200px;
}
#header {
    background-color: rgba(0, 0, 0, 0.8);
    float: left;
    height: 250px;
    margin-left: 2.5%;
    margin-top: 20px;
    position: relative;
    text-align: center;
    width: 980px;
    z-index: 10;
}

#header-wrapper {
    background-color  : transparent;
    height: 275px;
    margin-left: 2.5%;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 95%;
    z-index: 50;
}

#logo {
    display: block;
    height: 179px;
    left: 38px;
    margin-left: 0;
    margin-top: 85px;
    opacity: 0.8;
    padding-left: 15px;
    position: relative;
    top: -169px;
    width: 100%;
    z-index: 10;
}

#black, #hawk, #down, #live_1, #live_2, #live_3 {
  opacity: 0.6;
  float: left;
}

#hawk {
  margin-left: -5px;
}

#down {
  margin-left: 10px;
}

#live_1, #live_1.no-fade {
  margin-left: 10px;
}

#header img {
  margin-top: 5px;
}

#content-background {
    background-color: rgba(0, 0, 0, 0.8);
    float: left;
    height: 751px;
    left: 58px;
    position: relative;
    width: 981px;
}

.content-home {
  height: 790px;
}

#content a {
  text-decoration: none;
  color: #ffffff;
}

#content a:hover {
  text-decoration: underline;
  color: #ffffff;
  box-shadow: 10px 10px 5px #888;
}


#content a img {
  border: none;
}

#navigation {
    background: none repeat scroll 0 0 #000000;
    height: 50px;
    opacity: 0.8;
    position: relative;
    top: -73px;
    z-index: 100;
}

#navigation li {
  float: left;
  list-style-type: none;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px 10px 10px 10px;
}

#navigation li a {
    border-radius: 10px 10px 10px 10px;
    color: white;
    display: block;
    font-size: 19px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    text-decoration: none;
    width: 188px;
    margin-top: 4px;
}



/* TODO - SORT OUT CURRENT AND HOVER */
#navigation li a:hover {
    background: rgba(84, 84, 84, 0.6);
}

#navigation li a.current {
    background: rgba(84, 84, 84, 0.6); 
}

#black_noFade, #hawk_noFade, #down_noFade {
  display: block;
  float: left;
}

.no-fade {
  display: inline !important;
}

#social-media {
    text-align: center;
    float: left;
    margin-left: 300px;
}

#social-media a {
    text-decoration: none;
}

#contact {
    text-align: left !important;
}

#contact table td, #contact table tr, #contact table {
    border: none;
    padding: 5px;
}

#contact-input {
    width: 260px;
}

#member-nav{
    font-weight: bold;
    list-style-type: none;
    float: left;
    text-decoration: none;
    color: White;
}

#member-nav ul li {
    display: inline;
    list-style-type: none;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    float: left;
    padding: 20px;
}

#member-nav ul li a  {
    display: block;
    width: 130px;
    border-radius: 10px 10px 10px 10px; 
    background: rgba(84, 84, 84, 0.6); 
    padding: 7px;
    color: White;
    text-decoration: none;
}

#member-nav ul li a:hover  {
    background: rgba(84, 84, 84, 0.4); 
    
}

.member-link {
  
}

.on {
    display: block;
    float: left;
    font-size: 20px;
    height: 670px;
    padding-left: 30px;
    padding-right: 30px;
    width: 94%;
}

.off {
    display: none;
}

#contact-form{
    margin: 0 auto;
    position: relative;
    width: 75%;
    top: 50px;
}

.photo {
    float: left;
    position: relative;
    text-align: right;
    top: -628px;
}

.photo img {
    opacity: 0.2;
    margin-bottom: -600px;
}

#footer {
    text-align: center;
    clear: both;
}

#video {
    position: relative;
    left: -24px;
}

.clearfix {
    clear: both;
    float: none;
}

.bio {
    float: left;
    height: 640px;
    width: 100%;
}

#message {
    height: 300px;
    width: 600px;
}

#contact-heading {
    font-size: 26px;
    text-align: center;
}

#bhd-image {    
    text-align: center;
    background-color: Black;
    position: relative;
    border-bottom: 2px solid gray;
}
    
#homepage-content {
    width: 94%;
    margin: 0 auto;
    font-size: 20px;
}    
    
    