To: @ViewBag.To
From: websiteadmin@blackhawkdown.org.uk
Subject: Your free tracks from BlackHawkDown

Hi there rock fan

<a href="http://www.blackhawkdown.org.uk/freetracks/">Click here for your free tracks!</a>

Cheers
BlackHawkDown