@{
    Layout = null;
}
Content-Type: text/html; charset=utf-8

<html>
<body>
    <p>
        Hi there rock fan
    </p>

    <p>
        Thanks for subscribing to our newsletter! <a href="http://www.blackhawkdown.org.uk/home/freetracks/">Click here to download your free tracks</a>!
    </p>

    <p>
        We've just finished getting our EP "Prefix" mixed and mastered, and we've got the artwork all sorted and ready to go.
        Soon we're going to have a big pile of beautiful CDs to be sending out to you lovely people, so please keep an eye out for an email update telling you where you can get a copy.
    </p>

    <p>
        We won't email you too often, and we'll only send you stuff we think you'll find interesting. However, if you ever want to unsubscribe, just drop us a line at websiteadmin@blackhawkdown.org.uk and we'll remove you from the list.
    </p>
    <p>
        Cheers<br />
        BlackHawkDown
    </p>
</body>
</html>
