@{
    Layout = null;
}
Content-Type: text/html; charset=utf-8

<html>
<body>
    <p>
        Good morning BlackHawkDown fan!
    </p>

    <p>
        We've got a new exclusive preview video with snippets from all four tracks from the upcoming EP, "Prefix" - <a href="http://www.blackhawkdown.org.uk/home/freetracks/?utm_source=newsletter&utm_medium=link&utm_campaign=newsletter">check out the preview video here</a>!
    </p>

    <p>
        We're just sorting out the details of our EP launch party and getting the CDs pressed, the release daet is still TDC but it's estimated to be early August - so keep watching this space for more news...
    </p>

    <p>
        We won't email you too often, and we'll only send you stuff we think you'll find interesting. However, if you ever want to unsubscribe, just drop us a line at websiteadmin@blackhawkdown.org.uk and we'll remove you from the list.
    </p>
    <p>
        Cheers<br />
        <a href="http://www.blackhawkdown.org.uk">BlackHawkDown - official website</a>
    </p>
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-39424304-1&cid=0&t=event&ec=email&ea=open&el=recipient_id&cs=newsletter_update_one&cm=email&cn=ep_update">
</body>
</html>
