@{
    Layout = null;
}
Content-Type: text/html; charset=utf-8

<html>
<body style="font-size: 14px;text-align: center; background:url('http://www.blackhawkdown.org.uk/Content/images/front-cover.png') no-repeat center; background-size: cover; color: white!important; padding: 15px;">
    <div style="background-color: rgba(0, 0, 0, 0.6); padding: 20px 0;">
        <p style="color: white!important; ">
            Good evening BlackHawkDown fan!
        </p>

        <p style="color: white!important; ">
            Some exciting news! Our debut EP is on the shelves as we speak - you can buy 'Prefix' now on all of the big retailers. We're working on an online store so you can get a hard copy delivered to your door, but for now if you want one just give us a holler on our <a href="http://www.blackhawkdown.org.uk/contact/">CONTACT PAGE</a> and we can hook you up, as it were.

        </p>
        <a style="font-weight: bold;margin: 0 auto; display: inline-block; padding: 20px;background: linear-gradient(to bottom, rgba(0,0,0,1) 0,rgba(143,2,34,1) 35%,rgba(143,2,34,1) 63%,rgba(0,0,0,1) 100%); border: 2px outset buttonface ;color: white!important;" href="https://itunes.apple.com/en/album/id1011893004">Prefix on iTunes</a>
        <a style="font-weight: bold;margin: 0 auto; display: inline-block; padding: 20px;background: linear-gradient(to bottom, rgba(0,0,0,1) 0,rgba(143,2,34,1) 35%,rgba(143,2,34,1) 63%,rgba(0,0,0,1) 100%); border: 2px outset buttonface ;color: white!important;" href="https://play.google.com/store/music/album/BlackHawkDown_Prefix?id=Boseqt6gxpdib3pz27lc4462oc4">Prefix on Google Play</a>

        <p style="color: white!important; ">
            If you can't wait, click the button below to see the video for FREEMAN, the first single from the EP...
        </p>

        <a style="font-weight: bold;margin: 0 auto; display: inline-block; padding: 20px;background: linear-gradient(to bottom, rgba(0,0,0,1) 0,rgba(143,2,34,1) 35%,rgba(143,2,34,1) 63%,rgba(0,0,0,1) 100%); border: 2px outset buttonface ;color: white!important;" href="http://www.blackhawkdown.org.uk/home/music/?utm_source=newsletterUpdate2&utm_medium=link&utm_campaign=newsletter">check out our new video, Freeman!</a>

        <p style="color: white!important; ">
            We've got a few dates coming up and we're planning some more to support the release of the EP, so keep an eye out to see if we're coming to a town near you soon!
        </p>

        <p style="color: white!important; ">
            We won't email you too often, and we'll only send you stuff we think you'll find interesting. However, if you ever want to unsubscribe, just drop us a line at websiteadmin@blackhawkdown.org.uk and we'll remove you from the list.
        </p>
        <p style="color: white!important; ">
            Cheers<br />
            <a style="margin: 0 auto; display: inline-block; padding: 20px;background: linear-gradient(to bottom, rgba(0,0,0,1) 0,rgba(143,2,34,1) 35%,rgba(143,2,34,1) 63%,rgba(0,0,0,1) 100%); border: 2px outset buttonface ;color: white!important;" href="http://www.blackhawkdown.org.uk/">BlackHawkDown - official website</a>
        </p>
    </div>
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-39424304-1&cid=0&t=event&ec=email&ea=open&el=recipient_id&cs=newsletter_update_two&cm=email&cn=ep_update_1">
</body>
</html>

