@{
    Layout = null;
}

Content-Type: text/plain; charset=utf-8

Some exciting news! Our debut EP is on the shelves as we speak - you can buy 'Prefix' now on all of the big retailers. We're working on an online store so you can get a hard copy delivered to your door, but for now if you want one just give us a holler on our <a href="http://www.blackhawkdown.org.uk/contact/">CONTACT PAGE</a> and we can hook you up, as it were.

You can buy the EP on iTunes, Google Play Store:

https://itunes.apple.com/en/album/id1011893004
https://play.google.com/store/music/album/BlackHawkDown_Prefix?id=Boseqt6gxpdib3pz27lc4462oc4

If you can't wait, click the button below to see the video for FREEMAN, the first single from the EP...

http://www.blackhawkdown.org.uk/home/music/?utm_source=newsletter&utm_medium=link&utm_campaign=newsletter

We won't email you too often, and we'll only send you stuff we think you'll find interesting. However, if you ever want to unsubscribe, just drop us a line at websiteadmin@blackhawkdown.org.uk and we'll remove you from the list.

Cheers
BlackHawkDown