@{
    ViewBag.Title = "Meet the band | BlackHawkDown";
    ViewBag.Description = "Find out more about the band and what makes BlackHawkDown awesome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul class="about-page clearfix page-block">
    <li class="about band closed clearfix  promo">
        <div class="about-text">
            <h2>About the Band</h2>
            <p>
                BlackHawkDown was born in 2010 when bassist Norb got together with self taught drummer Marc Daffern for jamming sessions with a couple of friends. Quickly lead vocalist Ben was brought on board and the riff and vocal line for 'Little Doorways' were developed along with a cover version of 'Shallow' by Porcupine Tree.
            </p>
            <p>
                Looking to start gigging the trio placed an advert locally for a lead guitarist and the call was answered by Andy 'Dirt' McGurk, a seasoned one man wrecking ball solo artist under the guise of Hollowtechnic. With the creative juices flowing, Norb and Andy began combining intricate bass melodies with raw and powerful riffs. Marc pulled it together with his brand of rythmic rock tub thumping and Ben polished it off with a mixed vocal style.
            </p>
            <p>
                'Shining Light', 'Poison in my Blood' and 'Times are Changing' were followed by 'Falling' and 'Simplify' as the band's style developed and evolved with the help of Lee Daffern who was brought on board as rhythm guitarist. A busy 2011/12 gigging around the UK saw the lads reach the regional finals of the Surface Festival at 02 Academy in Birmingham and play the massive East Midlands Willow Festival.
            </p>
            <p>
                2013 saw some troubled times, with the band parting ways with both Lee and Norb. 2014 saw a giant ANT step in to play the bass in Norb's place and HEMY! joining on rhythm guitar; and the band has been spending the last few months concentrating on getting their debut EP, "Prefix", recorded and ready for release. It's going to hit the shelves at the beginning of August 2015, keep an eye on the website for more info and news!
            </p>
        </div>
        <div class="about-image">
            <img src="../../Content/images/about/band.jpg" alt="BlackHawkDown" />
        </div>
    </li>

    <li class="about ben clearfix  promo">
        <div class="about-text">
            <h2>Ben - Vocals</h2>
            <p>
                <strong>Who are you?</strong> I'm Log, vocalist for BlackHawkDown and part-time Chip & PIN Hero
            </p>
            <p>
                <strong>First childhood memory?</strong> Going to the park with my Dad ha ha
            </p>
            <p>
                <strong>Favourite band?</strong> Guns N Roses (pre-1995 of course)
            </p>
            <p>
                <strong>Instrument and why?</strong> I used to sing in productions years ago then drifted away from music. BHD were forming and needed someone who could hold a couple of notes. I was awful to begin with and was nearly sacked! Your voice is like any instrument, if you're not naturally gifted you need to constantly practice technique.
            </p>
            <p>
                <strong>Least favourite band member and why?</strong> I hate them all to be honest. Jealousy mainly.
            </p>
            <p>
                <strong>Your influences on BHD</strong> GnR, SoundGarden, Stone Temple Pilots, AIC - good fucking rock bands man.
            </p>
            <p>
                <strong>Dream kit</strong> Eddie Vedder's voice with Christ Cornell's range.
            </p>
            <p>
                <strong>Real kit</strong> 80% functioning cigarette addled voice box. It's getting better :)
            </p>
            <p>
                <strong>Any last words?</strong> Get to the chopper
            </p>
        </div>
        <div class="about-image">
            <img src="../../Content/images/about/ben.jpg" alt="Ben" />
        </div>
    </li>

    <li class="about andy clearfix promo">
        <div class="about-text">
            <h2>Andy - Guitar/Backing Vox</h2>
            <p>
                <strong>Who are you?</strong> I'm Andrew Sean Boniface McGurk, lead guitarist and retired bird-watcher.
            </p>
            <p>
                <strong>Favourite band?</strong> Nine Inch Nails
            </p>
            <p>
                <strong>What do you play and why?</strong> Guitar. Because it's cuul.
            </p>
            <p>
                <strong>1st Childhood Memory?</strong> The kitchen floor, quickly moving closer and closer towards my face
            </p>
            <p>
                <strong>Your influence on the band?</strong> All kinds of weird sounds that somehow turn out to be some sort of song. Once weird sounds are created I add a pinch of bad ass riff and then sit and wait for the rest of the band to get on with it
            </p>
            <p>
                <strong>Dream kit?</strong> A Gibson made of gold. Blackstar amp (also gold).
            </p>
            <p>
                <strong>actual kit?</strong> Gibson Les Paul LPJ Vintage Burst, Epiphone Les Paul gothic black, Laney LX120H amp (soon to be Blackstar HT Stage 100), Hayden 4x12 cab and Marshall JCM900 2x12 cab, Line 6 Pod X3 live pedal, Cry baby wah pedal and my vocal chords which you can't buy in the shops because I'm out of stock, so tough shit!
            </p>
            <p>
                <strong>Any last words?</strong> Four. Four last words.
            </p>
        </div>
        <div class="about-image">
            <img src="../../Content/images/about/andy.jpg" alt="Andy" />
        </div>
    </li>

    <li class="about shark clearfix promo">
        <div class="about-text">
            <h2>Marc the Shark - Drums</h2>
            <p><strong>Who are you?</strong> I'm Marc, and I'm a shark.</p>
            <p><strong>Favourite band?</strong> Godsmack</p>
            <p><strong>What do you play and why?</strong> Drums - because I'm inept at everything else....</p>
            <p><strong>Dream kit?</strong> Tama Starclassic Bubinga Warlord. Because it's awesome. Zildjian K & Z-Customs. </p>
            <p><strong>Actual gear?</strong> Tama Superstar in Brushed Pewter, Zildjian K Heavy Ride, Zildjian A, Stagg, UFIP and Zyn crashes, Zildjian Quick Beat hi-hats, Meinl Classics and Paiste PST 8 chinas.</p>
            <p><strong>Any last words?</strong> Err, no...</p>
        </div>
        <div class="about-image">
            <img src="../../Content/images/about/shark.jpg" alt="Shark" />
        </div>
    </li>

    <li class="about ant promo clearfix">
        <div class="about-text">
            <h2>giANT - Bass</h2>
            <p><strong>Who are you?</strong> I'm Ant Nash, a giant ant, and I have a man crush on Robb Flynn.</p>
            <p><strong>Favourite band?</strong> Machine head</p>
            <p><strong>Your influences?</strong> Machine Head, Lamb of god, Periphery, etc etc</p>
            <p><strong>Gear you use?</strong> Warwick Pro Fet 3.2 Head, Hartke 4 x 10 cab, Korg Rack tuner, MXR M80 fx pedal, Ibanez SR400QM & Ibanez BTB405QM Bass guitars, Elixir strings, Dunlop 1.0 plectrums, Fender cables. </p>
            <p><strong>What do you play and why?</strong> Bass, because Sometimes a drummer needs to be out front rather than sat at the back. </p>
            <p><strong>First childhood memory?</strong> I've repressed it.....Lets stop there. </p>
            <p><strong>Any last words?</strong> I'm looking to buy a new boomerang, but how can I throw the old one out?  </p>

        </div>
        <div class="about-image">
            <img src="../../Content/images/about/ant.jpg" alt="giANT" />
        </div>
    </li>

    <li class="about ant promo clearfix">
        <div class="about-text">
            <h2>HEMY! - rhythm guitar</h2>
            <p><strong>Who are you?</strong> I'm HEMY! and I just cut all my hair off like a fool.</p>
            <p><strong>Favourite band?</strong> Hanson</p>
            <p><strong>Your influences?</strong> Jerry Cantrell, Prince, Richie Sambora, etc etc</p>
            <p><strong>Gear you use?</strong>  Vanquish Guitars and Bogner Amps </p>
            <p><strong>What do you play and why?</strong> Guitar. Because it's the coolest. </p>
            <p><strong>First childhood memory?</strong> Being in a red Ford Mondeo. </p>
            <p><strong>Any last words?</strong> Nope.  </p>

        </div>
        <div class="about-image">
            <img src="../../Content/images/about/tank.jpg" alt="HEMY!" />
        </div>
    </li>
</ul>
@section Scripts {
    @Scripts.Render("~/bundles/aboutpage");
}
