@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="about-page clearfix">
    <div class="about band">
        <h2>About the Band</h2>

        <p>
        BlackHawkDown was born in 2010 when bassist Norb got together with self taught drummer Marc Daffern for jamming sessions with a couple of friends. Quickly lead vocalist Ben was brought on board and the riff and vocal line for 'Little Doorways' were developed along with a cover version of 'Shallow' by Porcupine Tree.
        </p>
        <p>
        Looking to start gigging the trio placed an advert locally for a lead guitarist and the call was answered by Andy 'Dirt' McGurk, a seasoned one man wrecking ball solo artist under the guise of Hollowtechnic. With the creative juices flowing, Norb and Andy began combining intricate bass melodies with raw and powerful riffs. Marc pulled it together with his brand of rythmic rock tub thumping and Ben polished it off with a mixed vocal style.
        </p>
        <p>
        'Shining Light', 'Poison in my Blood' and 'Times are Changing' were followed by 'Falling' and 'Simplify' as the band's style developed and evolved with the help of Lee Daffern who was brought on board as rhythm guitarist. A busy 2011/12 gigging around the UK saw the lads reach the regional finals of the Surface Festival at 02 Academy in Birmingham and play the massive East Midlands Willow Festival.
        </p>
        <p>
        2013 saw some troubled times, with the band parting ways with both Lee and Norb. HEMY! was brought in to replace Lee and Tom Michell stepped up to play the bass. The band spent much of 2013 recoring their back catalogue of around fifteen original tracks, shortly to be mixed and mastered into their debut album.
        </p>
        <p>
        In 2014 BlackHawkDown will be back into regular gigging and promoting their new material, hopefully with an album release soon...
        </p>
    </div>
    <a id="band" class="read-more closed" href="#">READ MORE...</a>

    <div class="about ben">
    <h2>Ben - Vocals</h2>
        <p>
        <strong>Who are you?</strong> I'm Log, vocalist for BlackHawkDown and part-time Chip & PIN Hero
        </p>
        <p>
        <strong>First childhood memory?</strong> Going to the park with my Dad ha ha
        </p>
        <p>
        <strong>Favourite band?</strong> Guns N Roses (pre-1995 of course)
        </p>
        <p>
        <strong>What does your gf let you do in the band HEMY!?</strong> Nothing. When I pretend to be HEMY! She keeps me locked up in the shed.
        </p>
        <p>
        <strong>Instrument and why?</strong> I used to sing in productions years ago then drifted away from music. BHD were forming and needed someone who could hold a couple of notes. I was awful to begin with and was nearly sacked! Your voice is like any instrument, if you're not naturally gifted you need to constantly practice technique.
        </p>
        <p>
        <strong>Least favourite band member and why?</strong> I hate them all to be honest. Jealousy mainly.
        </p>
        <p>
        <strong>Your influences on BHD</strong> GnR, SoundGarden, Stone Temple Pilots, AIC - good fucking rock bands man.
                </p>
        <p>
        <strong>Dream kit</strong> Eddie Vedder's voice with Christ Cornell's range.
        </p>
        <p>
        <strong>Real kit</strong> 80% functioning cigarette addled voice box. It's getting better :)
        </p>
        <p>
        <strong>Any last words?</strong> Get to the chopper
        </p>
    </div>
    <a id="ben" class="read-more closed" href="#">READ MORE...</a>

    <div class="about andy">
        <h2>Andy - Guitar/Backing Vox</h2>
        <p>
        <strong>Who are you?</strong> I'm Andrew Sean Boniface McGurk, lead guitarist and retired bird-watcher. I am not HEMY!.
        </p>
        <p>
        <strong>Favourite band?</strong> Nine Inch Nails
        </p>
        <p>
        <strong>What do you play and why?</strong> Guitar. Because it's cuul.
        </p>
        <p>
        <strong>1st Childhood Memory?</strong> The kitchen floor, quickly moving closer and closer towards my face
        </p>
        <p>
        <strong>Least favourite member of the band and why?</strong> HEMY! because he is a threat...........
        </p>
        <p>
        <strong>Your influence on the band?</strong> All kinds of weird sounds that somehow turn out to be some sort of song. Once weird sounds are created I add a pinch of bad ass riff and then sit and wait for the rest of the band to get on with it
        </p>
        <p>
        <strong>Dream kit?</strong> A Gibson made of gold. Blackstar amp (also gold).
        </p>
        <p>
        <strong>actual kit?</strong> Gibson Les Paul LPJ Vintage Burst, Epiphone Les Paul gothic black, Laney LX120H amp (soon to be Blackstar HT Stage 100), Hayden 4x12 cab and Marshall JCM900 2x12 cab, Line 6 Pod X3 live pedal, Cry baby wah pedal and my vocal chords which you can't buy in the shops because I'm out of stock, so tough shit!
        </p>
        <p>
        <strong>Any last words?</strong> Four. Four last words.
        </p>
    </div>
    <a id="andy" class="read-more closed" href="#">READ MORE...</a>
</div>