@{
    ViewBag.Title = "Free Demo CD track listing | BlackHawkDown";
    ViewBag.Description = "Picked up a free demo CD? Here's your track listing!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content" class="demo-page">
    <h2>Picked up a free demo CD at a BHD gig?</h2>
    <p>Here's your track listing:</p>
    <ol>
        <li>1. Falling</li>
        <li>2. Exposed</li>
        <li>3. Poison in My Blood</li>
    </ol>
    <p>You can still get more free tracks by signing up to our mailing list - just enter your email address at the top of the page and we'll send you a download link!</p>
    <p>Don't worry, we won't spam you, and you can unsubscribe any time you like.</p>
</div>