@{
    ViewBag.Title = "Free Demo CD track listing | BlackHawkDown";
    ViewBag.Description = "Picked up a free demo CD? Here's your track listing!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content" class="demo-page">
    <h2>Picked up a demo CD at a BHD gig?</h2>
    <p>Here's your track listing:</p>
    <ol>
        <li>1. Simplify</li>
        <li>2. Vision Up</li>
        <li>3. Exposed</li>
        <li>4. Poison in My Blood</li>
    </ol>
    <p>You can get more free tracks by signing up to our mailing list - just enter your email address at the top of the page and we'll send you a download link!</p>
    <p>Don't worry, we won't spam you, and you can unsubscribe any time you like. We will tell you if we've got any massive news, and we'll let you know when our album is ready to be released - at the moment we reckon it'll be early 2015.</p>
</div>