@{
    ViewBag.Title = "FreeTracks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="free-tracks-page page-block">
    <h2>Your free tracks</h2>

    <p>
        Thanks for subscribing to our newsletter! We won't spam you, and we definitely won't give your email address to anyone else. We'll just drop you a line from time to time with any updates we think might be of interest to you.
    </p>

    <p>
        To say thanks, you can check out a quick preview video of the upcoming EP (below), and here are your free tracks (to download, right click and choose "Save link as"):
    </p>

    <p class="track-download">
        <a href="../../Content/mp3s/Exposed.mp3" target="_blank">Exposed</a><br />
        <a href="../../Content/mp3s/Poison%20in%20My%20Blood.mp3" target="_blank">Poison In My Blood</a><br />
        <a href="../../Content/mp3s/simplify.mp3" target="_blank">Simplify</a><br />
    </p>

    <ul>
        <li class="main-video promo">
            <iframe src="http://www.youtube.com/embed/lfvVFFtcJ90?rel=0" frameborder="0" allowfullscreen="" scrolling="no"></iframe>
        </li>
    </ul>
</div>