@{
    ViewBag.Title = "FreeTracks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BhdResponsiveSite.Models.FreeTrack

<div class="free-tracks-page page-block">
    <p>
        Thanks for subscribing to our newsletter! We won't spam you, and we definitely won't give your email address to anyone else. We'll just drop you a line from time to time with any updates we think might be of interest to you.
    </p>

    <a href="@Model.Url" class="free-track-button">
        Get your free track!
    </a>

    <ul>
        <li class="main-video promo">
            <iframe src="http://www.youtube.com/embed/lfvVFFtcJ90?rel=0" frameborder="0" allowfullscreen="" scrolling="no"></iframe>
        </li>
    </ul>
</div>