@{
    ViewBag.Title = "Tour and Show Dates | BlackHawkDown";
    ViewBag.Description = "Find out where and when the next BlackHawkDown gig is happening";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main-content" class="gigs-page">
    <h1>
        Upcoming Gigs</h1>
    <ul class="gig-list">
        <li>
            13/07/2014 - <a href="http://www.willowfestival.org.uk/" rel="nofollow" target="_blank">The Willow Festival</a>, Peterborough
        </li>

        <li>
            26/07/2014 - <a href="http://www.cock-inn.net/" rel="nofollow" target="_blank">The Cock Inn</a>, Werrington
        </li>

        <li>
            06/09/2014 - <a href="https://www.facebook.com/rockhaven.rockbar?fref=ts" rel="nofollow" target="_blank">Rock Haven</a>, Lincoln
        </li>

        <li>
            29/11/2014 - <a href="https://www.facebook.com/rockhaven.rockbar?fref=ts" rel="nofollow" target="_blank">Rock Haven</a>, Lincoln
        </li>

        <li>
            19/12/2014 - <a href="https://www.facebook.com/rockhaven.rockbar?fref=ts" rel="nofollow" target="_blank">Bowes After Dark</a>, Stevenage
        </li>
    </ul>
</div>
