@{
    ViewBag.Title = "Tour and Show Dates | BlackHawkDown";
    ViewBag.Description = "Find out where and when the next BlackHawkDown gig is happening";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main-content" class="gigs-page">
    <h1>
        Upcoming Gigs</h1>
    <ul class="gig-list">
        <li>
            30/01/2015 - <a href="https://www.facebook.com/events/832789266741925/" rel="nofollow" target="_blank">Voodoo Lounge</a>, Stamford
        </li>

        <li>
            28/03/2015 - <a href="https://www.facebook.com/events/1536440843276710/" rel="nofollow" target="_blank">Iron Horse Ranch House</a>, Market Deeping
        </li>
    </ul>
</div>
