@{
    ViewBag.Title = "Tour and Show Dates | BlackHawkDown";
    ViewBag.Description = "Find out where and when the next BlackHawkDown gig is happening";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main-content" class="gigs-page">
    <h1>
        Upcoming Gigs</h1>
    <ul class="gig-list">
        <li>
            19/06/2015 - <a href="https://www.facebook.com/events/1561033664160282/" rel="nofollow" target="_blank">The Hole in the Wall</a>, Spalding
        </li>
    </ul>
</div>
