@{
    ViewBag.Title = "Tour and Show Dates | BlackHawkDown";
    ViewBag.Description = "Find out where and when the next BlackHawkDown gig is happening";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main-content" class="gigs-page">
    <h1>
        Upcoming Gigs</h1>
    <ul class="gig-list">
        <li>
            01/08/2014 - <a href="https://www.facebook.com/TheMetLounge/" rel="nofollow" target="_blank">The Met Lounge</a>, Peterborough
        </li>

        <li>
            06/09/2014 - <a href="https://www.facebook.com/rockhaven.rockbar?fref=ts" rel="nofollow" target="_blank">Rock Haven</a>, Lincoln
<<<<<<< Updated upstream
=======
        </li>

        <li>
            27/09/2014 - <a href="http://www.mamaliz.co.uk/index.php/voodoo-lounge" rel="nofollow" target="_blank">Voodoo Lounge</a>, Stamford
>>>>>>> Stashed changes
        </li>

@*        <li>
            29/11/2014 - <a href="https://www.facebook.com/rockhaven.rockbar?fref=ts" rel="nofollow" target="_blank">Rock Haven</a>, Lincoln
        </li>*@

        <li>
            19/12/2014 - <a href="http://afterdarkmusic.org/" rel="nofollow" target="_blank">Bowes After Dark</a>, Stevenage
        </li>
    </ul>
</div>
