@{
    ViewBag.Title = "Tour and Show Dates | BlackHawkDown";
    ViewBag.Description = "Find out where and when the next BlackHawkDown gig is happening";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main-content" class="gigs-page page-block">
    <h1>
        Upcoming Gigs</h1>
    <ul class="gig-list">
        <li>
            18/09/2015 - <a href="https://www.facebook.com/events/1643712025907505/" rel="nofollow" target="_blank">Voodoo Lounge</a>, Stamford <br/>
        </li>
        <li>
            02/10/2015 - <a href="" rel="nofollow" target="_blank">The Pear Tree</a>, Stamford (ACOUSTIC)
        </li>
        <li>
            31/10/2015 - <a href="" rel="nofollow" target="_blank">The Brewery Tap</a>, Peterborough (BEAT:Cancer)
        </li>
        <li>
            11/06/2016 - DNR Bike Festival (details TBA)
        </li>
    </ul>
</div>
