@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BlackHawkDown</h2>
<p>
    BlackHawkDown are a five piece heavy rock group like no other. Mixing influences from across rock, grunge, 
    electronica and metal their fierce riffs and harmonised vocal stories will elate as well as shock. Every 
    song carries a different edge that grips you from the start and reminds you that this band are not playing by the numbers.
</p>

<p>
    Their material reaches out to fans of many genres so delve as deeply into the depths of BlackHawkDown's 
    psyche as you dare. You won't be disappointed.
</p>

<p>
    Each member of BlackHawkDown brings their own unique musical culture to the overall sound. Likened to a 
    melting pot of Seattle grunge, industrial rock and alternative metal it is easy to understand their appeal 
    across a spectrum of music fans young and old.
</p>

<div class="promo">
    <a href="@Url.Action("Music", "Home")" class="promo-link music">
        <div class="promo-img"></div>
        <div class="promo-text">Listen to our music</div>
    </a>
</div>
<div class="promo">
    <a href="@Url.Action("About", "Home")" class="promo-link about">
        <div class="promo-img"></div>
        <div class="promo-text">Find out about the band</div>
    </a>
</div>
<div class="promo">
    <a href="@Url.Action("Gigs", "Home")" class="promo-link gigs">
        <div class="promo-img"></div>
        <div class="promo-text">Check our tour dates</div>
    </a>
</div>