@{
    ViewBag.Title = "UK Heavy Rock Band | BlackHawkDown";
    ViewBag.Description = "BlackHawkDown - A UK heavy rock band with music like you've never heard before";
    ViewBag.Keywords = "blackhawkdown, black hawk down, uk heavy rock, heavy rock, rock, grunge, midlands, unique, metal, alternative metal, seattle grunge, band, bhd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home-page page-block">
    <h1>EP NEws!</h1>

    <div class="video-block">
        <div id="yt-wrapper" class="full-width-video-container main-video promo">
        </div>
    </div>
    <div class="page-text">
        <p>
            Our Debut, four track EP has been mixed and mastered, the artwork complete and we're waiting shipment of some CDs!
            Here's a snippet of Freeman - the first track to be released (along with a video!). Enter your email address above to hear some more tracks...
        </p>
    </div>
    <div class="main-promo-wrapper">
        <div class="main-promo">
            <div class="promo">
                <a href="@Url.Action("Music", "Home")" class="promo-link music odd" onclick="_gaq.push(['_trackEvent', 'Home Links', 'Click', 'Music Page'])">
                    <div class="promo-img"></div>
                    <div class="promo-text">
                        <h2>Our Music</h2>
                        <p class="main-promo-text">CLICK HERE <br /> to watch a collection of live music and recorded videos</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="main-promo">
            <div class="promo">
                <a href="@Url.Action("Gigs", "Home")" class="promo-link gigs even" onclick="_gaq.push(['_trackEvent', 'Home Links', 'Click', 'Gigs Page'])">
                    <div class="promo-img"></div>
                    <div class="promo-text">
                        <div class="promo-text"><h3>Our nExt gig!</h3><p>The Hole in the Wall<br />Spalding<br />19/06/2015</p></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <ul class="promo-boxes">


        <li class="promo">
            <a href="@Url.Action("About", "Home")" class="promo-link about odd">
                <div class="promo-img"></div>
                <div class="promo-text"><h3>About Us</h3> Head to the band page to see who's who.</div>
            </a>
        </li>
    </ul>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('<iframe width="460" height="234" src="http://www.youtube.com/embed/JVyLC4Wjr6E?rel=0" frameborder="0" allowfullscreen></iframe>').appendTo('#yt-wrapper');
        });
    </script>
}
