@{
    ViewBag.Title = "Next gig | BlackHawkDown";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="next-gig-page">
    <h2>BlackHawkDown's Next Gig</h2>
    <p class="event details">Saturday 1st March - Mama Liz's Voodoo Lounge, Stamford.</p>
    <p class="join event"><a href="https://www.facebook.com/events/611985872189083/" target="_blank">Join the Facebook event!</a></p>
    <div class="gig-poster">
        <a href="https://www.facebook.com/events/611985872189083/" target="_blank">
            <img width="500" src="../../Content/images/bhd-poster.jpg" alt="BlackHawkDown at Mama Liz's Voodoo Lounge"/>
        </a>
    </div>
</div>