@{
    ViewBag.Title = "BlackHawkDown - Online Press Kit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="press-kit-page page-block;">
    <h2>BlackHawkDown</h2>

    <h3>Contact</h3>
    <p>
        Marc Daffern (drums &amp; main contact)<br />
        <a href="tel:+447716373174" class="telephone-link">07716 373174</a>
        <a href="mailto:marc@blackhawkdown.org.uk" class="email-link">marc@blackhawkdown.org.uk</a>
    </p>
    <h3>Online presence</h3>
    <div class="press-kit-social-links">
        <a href="http://www.blackhawkdown.org.uk">Official website</a>
        <a href="http://www.facebook.com/blackhawkdownuk">Facebook</a>
        <a href="http://www.youtube.com/user/blackhawkdownuk">YouTube</a>
        <a href="http://www.twitter.com/blackhawkdownuk">Twitter</a>
        <a href="http://www.soundcloud.co.uk/blackhawkdown-uk">Soundcloud</a>
    </div>
    
    <h3>Imagery</h3>
    <div class="press-kit-images">
        <a href="~/Content/press-kit/bhd-presskit-images.zip">BHD images - download zip file.</a>
    </div>
</div>