@{
    ViewBag.Title = "BlackHawkDown - Online Press Kit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="press-kit-page page-block;">
    <h2>BlackHawkDown</h2>

    <div class="promo">
        <h3>Contact</h3>
        <p>
            Marc Daffern (drums &amp; main contact)<br />
            <a href="tel:+447716373174" class="telephone-link">07716 373174</a>
            <a href="mailto:marc@blackhawkdown.org.uk" class="email-link">marc@blackhawkdown.org.uk</a>
        </p>
    </div>

    <div class="promo">
        <h3>Online prEsEncE</h3>
        <div class="press-kit-social-links">
            Official Website: <a href="http://www.blackhawkdown.org.uk">http://www.blackhawkdown.org.uk</a>
            Facebook: <a href="http://www.facebook.com/blackhawkdownuk">http://www.facebook.com/blackhawkdownuk</a>
            YouTube: <a href="http://www.youtube.com/user/blackhawkdownuk">http://www.youtube.com/user/blackhawkdownuk</a>
            Twitter: <a href="http://www.twitter.com/blackhawkdownuk">http://www.twitter.com/blackhawkdownuk</a>
            Soundcloud: <a href="http://www.soundcloud.co.uk/blackhawkdown-uk">http://www.soundcloud.co.uk/blackhawkdown-uk</a>
        </div>
    </div>
    <div class="promo">
        <h3>ImagEry</h3>
        <div class="press-kit-images">
            <a class="download-images" href="~/Content/press-kit/bhd-presskit-images.zip">Download all images here</a>
        </div>
        <div class="press-kit-image-thumbs">
            <img class="promo" src="~/Content/press-kit/images/BlackHawkDown1.jpg" alt="" />
            <img class="promo" src="~/Content/press-kit/images/BlackHawkDown2.jpg" alt="" />
            <img class="promo" src="~/Content/press-kit/images/BlackHawkDown4.jpg" alt="" />
            <img class="promo" src="~/Content/press-kit/images/BlackHawkDown5.jpg" alt="" />
            <img class="promo" src="~/Content/press-kit/images/BlackHawkDown8.jpg" alt="" />
            <img class="promo" src="~/Content/press-kit/images/BlackHawkDown3.jpg" alt="" />
            <img class="promo" src="~/Content/press-kit/images/BlackHawkDown6.jpg" alt="" />
            <img class="promo" src="~/Content/press-kit/images/BlackHawkDown7.jpg" alt="" />
            <img class="promo white" src="~/Content/press-kit/images/hawk-skull.png" alt="" />
            <img class="promo white" src="~/Content/press-kit/images/Hawk.png" alt="" />

        </div>
    </div>
