@{
    ViewBag.Title = "BlackHawkDown - Online Press Kit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="press-kit-page">
    <h2>BlackHawkDown</h2>

    <h3>Contact</h3>
    <p>
        Marc Daffern (drums &amp; main contact)<br />
        <a href="tel:+447716373174" class="telephone-link">07716 373174</a>
        <a href="mailto:marc@blackhawkdown.org.uk" class="email-link">marc@blackhawkdown.org.uk</a>
    </p>
    <h3>Online presence</h3>
    <p>
        <a href="http://www.blackhawkdown.org.uk">http://www.blackhawkdown.org.uk</a>
        <a href="http://www.facebook.com/blackhawkdownuk">http://www.facebook.com/blackhawkdownuk</a>
        <a href="http://www.youtube.com/user/blackhawkdownuk">http://www.youtube.com/user/blackhawkdownuk</a>
        <a href="http://www.twitter.com/blackhawkdownuk">http://www.twitter.com/blackhawkdownuk</a>
        <a href="http://www.soundcloud.co.uk/blackhawkdown-uk">http://www.soundcloud.co.uk/blackhawkdown-uk</a>
    </p>
</div>