@{
    ViewBag.Title = "BlackHawkDown - Online Press Kit";
    Layout = "~/Views/Shared/_Layout-no-nav.cshtml";
}
@using System.Globalization
@model BhdResponsiveSite.Models.GigList

<div class="press-kit-page page-block;">
    <h1 style="text-align: center">BlackHawkDown</h1>
    <div>
        <div class="epk-contact-info">
            <h3>Accepting bookings - contact</h3>
            <p>
                Marc Daffern (drums &amp; main contact)<br />
                <a href="tel:+447716373174" class="telephone-link">07716 373174</a>
                <a href="mailto:band@blackhawkdown.org.uk" class="email-link">band@blackhawkdown.org.uk</a>
            </p>
        </div>
    </div>

    <div class="epk-row">
        <div class="epk-column">
            <div class="epk-main-photo">
            </div>
        </div>
        
        <div class="epk-column">
            <div class="epk-gigs">
                <h2>Upcoming shows</h2>
                <ul>
                    @foreach (var gig in Model.Gigs)
                    {
                        <li>
                            <span class="bold">@gig.GigDate.ToString("MMMM dd, yyyy")</span> // @gig.Venue, @gig.Location
                        </li>
                    }
                </ul>
            </div>
            <div class="epk-press">
                <h2>Press reviews</h2>
                <a target="_blank" href="http://www.divideandconquermusic.com/indie-music-album-reviews/blackhawkdown-prefix">Divide & Conquer</a>
                <a target="_blank" href="http://jamsphere.com/reviews/blackhawkdown-prefix-this-is-what-heavy-rock-is-all-about">Jamsphere</a>
                <a target="_blank" href="https://projectmetalmusic.wordpress.com/2016/07/10/blackhawkdown/">Project Metal Music</a>
            </div>
            <div class="epk-online-links">
                <h2>BlackHawkDown Online</h2>
                <div class="epk-link-icons">
                    <a href="http://www.blackhawkdown.org.uk" target="_blank" class="website-icon"></a>
                    <a href="http://www.facebook.com/blackhawkdownuk" target="_blank" class="facebook-icon"></a>
                    <a href="http://www.youtube.com/user/blackhawkdownuk" target="_blank" class="youtube-icon"></a>
                    <a href="http://www.soundcloud.com/blackhawkdown-uk" target="_blank" class="soundcloud-icon"></a>
                </div>
            </div>
        </div>
    </div>
        
    <div class="epk-row">     
        <div class="epk-column">
            <div class="epk-band-info">
                <h2>Artist information</h2>
                <p>
                    <span class="bold">Label: </span>self-released
                </p>
                <p>
                    <span class="bold">Genre: </span>Hard rock
                </p>
                <p>
                    <span class="bold">Home town: </span>Stamford/Peterborough UK
                </p>
                <p>
                    <span class="bold">Influences: </span>Guns N' Roses, Metallica, Alice in Chains, Pearl Jam, Nine inch Nails, Killswitch Engage
                </p>
                <p>
                    <span class="bold">Sounds like: </span>Alter Bridge, Alice in Chains
                </p>
            </div>
            <div class="epk-bio">
                <h2>Biography</h2>
                <p>
                    We have had a core membership of three from since we cracked our first song together in 2010 and we
                    are more of a family or group of dysfunctional friends than ‘band members’, and the family still
                    includes our former bassist and founding member Norb (who left to pursue a different genre) and our
                    old rhythm guitarist and solo fiend HEMY! who threw it all away for a bit of skirt.
                </p>
                <p>
                    Current lineup is:
                </p>
                <p>
                    Ben Yardley - Vocals<br />
                    Andy McGurk - Lead guitar<br />
                    Marc Daffern - Drums<br />
                    Lee Daffern - Rhythm/lead guitar<br />
                    Ant Nash - Bass
                </p>
                <p>
                    We take a collaborative approach to song writing but the big riffs that invariably signpost a
                    BHD track are mostly provided by the main man Andy 'Dirt' McGurk. Often aggressive in nature they
                    form the foundations of many of our songs with support from melodic and catchy choruses accentuated
                    by harmonised vocal lines. Ben writes the majority of lyrics drawing from his experience of living
                    through a frustrating personality and occasional bouts of self-loathing. His lyrics tend to focus
                    on personal demons or tell of stories of observed behaviours through fictional interpretations of
                    human struggle.
                </p>

                <p>
                    A couple of examples of Ben's work....
                </p>
                <p>
                    "Simplify" – Inspired by a series of documentaries on the Afghan Insurgency throughout the noughties,
                    Simplify tells the story of a man suffering from PTSD, struggling to come to terms with what he has
                    seen and done. It describes him contemplating suicide – the only solution to ending his inner turmoil.
                    All alone, in bed his mind begins to soar as he flies away from his pain.
                </p>
                <p>
                    "Annie Who" – A short story based around perceptions of reality, friendship, manipulation, mental
                    health issues and criminal activity. Is Annie the mastermind behind the deed, the sinner or the
                    saint and why is the person in Police custody protecting her? Who is the main protagonist and what
                    are they accused of?
                </p>
                <p>
                    You can expect an energetic and honest live performance from BHD. Ben sees each song as a short
                    story/performance piece. From the very beginning we have looked to replicate the power and aggression
                    of our live music into our recordings. We have walked many paths in recording, mixing and mastering
                    our previous tracks – from DIY bedroom takes, pro-studio sessions, garage productions and combination
                    approaches. Our current EP was mixed by Dave Chang (Orange Goblin, Napalm Death) after laying down
                    the stems in a behind the curtain special housed in a breeze block building somewhere near
                    Peterborough. We are currently working on the recording of our next project, with details to be
                    announced as it progresses.
                </p>
            </div>

        </div>
        <div class="epk-column">
            
            <div class="epk-music-player">
                <h2>Our Music</h2>

                <iframe style="border: 0; width: 100%; height: 307px; padding: 20px;"
                        src="https://bandcamp.com/EmbeddedPlayer/album=1757988678/size=large/bgcol=333333/linkcol=0f91ff/artwork=small/transparent=true/"
                        seamless>
                    <a href="http://blackhawkdownuk.bandcamp.com/album/prefix">
                        Prefix by BlackHawkDown
                    </a>
                </iframe>
            </div>
            
            <div class="epk-photos">
                <h2>Photos</h2>
                <div class="photo">
                    <a class="download-images" href="~/Content/press-kit/bhd-presskit-images.zip">Download band imagery here</a>

                    <a href="~/Content/press-kit/bhd-presskit-images.zip" target="_blank">
                        <img class="promo" src="~/Content/press-kit/images/band.jpg" alt="" />
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>

