@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BhdResponsiveSite.Models.EmailSendingModel
    

<div class="shark-email-page page-block">
    <h1>Shark's email page</h1>

    @using (Html.BeginForm("SendEmails", "SharksEmail", FormMethod.Post, new { @Class = "email-type-form" }))
    {
        @Html.LabelFor(m => m.IsTestEmail, "Check to send test email")
        @Html.CheckBoxFor(m => m.IsTestEmail)
        @Html.TextBoxFor(m => m.EmailType, new { @placeholder = "Enter email type to send" })
        <input type="submit" value="Send Emails!" />
    }
</div>