@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thanks for your ordEr!</h2>
<div class="promo">
    Please allow 7 working days for delivery... while you're waiting though why not @Html.ActionLink("watch BlackHawkDown in action", "Music", "Home").
</div>
