@{
    ViewBag.Title = "Our Music";
    Layout = "~/Views/Shared/_LayoutNoFade.cshtml";
}
<div id="main-content">
    <h2>Our Music</h2>
        <div id="homepage-content">
    <p>
        Here's our latest video, 'Simplify'. Please check out our social media channels with the links below to hear more of our tunes!
    </p>
    </div>
    <div id="video-with-border">
        <img src="../../Content/themes/base/images/bgs/video-border.png" id="video-bg" />
        <iframe class="youtube-player" type="text/html" width="725" height="460" src="http://www.youtube.com/embed/9MbQ_i9P9aU" allowfullscreen frameborder="0">
        </iframe>
    </div>


</div>
