_ReSharper.CTM
*.trx
reports/
deployment/
[Bb]in/
[Oo]bj/
*6.0.ReSharper.user
obj/
BhdResponsiveSite/**/bin/
BhdResponsiveSite/bin/**/*
*.suo
/**/*.user
*.vsmdi
*.user
*.DotSettings
*.*.DotSettings.user
*.vsmdi
BhdResponsiveSite.v12.suo
build/
Visual Studio*
rewrite.config
*.suo
packages/*
!packages/repositories.config
BhdResponsiveSite/obj/Debug/*
BhdResponsiveSite/bin/*