

@media (max-width: 768px) {
    .video-block {
        margin: 10px;
        box-shadow: 0px 0px 12px 5px black;
        padding: 0;
    }
    /* backgrounds */
    .cd-section:nth-child(1) {
        background-image: url("/Content/images/band-arch-small.jpg");
    }

    .cd-section:nth-child(2) {
        background-color: var(--cd-color-2);
    }

    .cd-section:nth-child(3) {
        background-image: url("/Content/images/band-in-line-small.jpg");
    }

    .cd-section:nth-child(4) {
        background-color: var(--cd-color-2);
    }

    .cd-section:nth-child(5) {
        background-image: url("/Content/images/band-steps-small.jpg");
    }
    .press-kit-social-links a {
        font-size: 0.8rem;
    }

    .gig-venue {
        font-size: 2rem;
    }

    .gig-location {
        font-size: 1.8rem;
    }

    .intro-text {
        width: 100%;
        float: none;
    }

    .main-promo {
        width: auto;
        display: block;
        float: none;
    }

        .main-promo .promo, .main-promo .promo a.promo-link {
            height: 174px;
            position: relative;
        }

            .main-promo .promo a:before {
                position: absolute;
                top: 43px;
                left: 61%;
                background: url('images/youtube-sprite.png') 0px -65px no-repeat;
                height: 61px;
                width: 87px;
                z-index: 1;
                cursor: pointer;
                display: none;
            }

    .desktop-only {
        display: none;
    }

    h1, h2, h3 {
        text-align: center;
    }

    .main-video {
        width: 100%;
        height: 200px;
        position: relative;
        margin: 0 auto;
    }

        .main-video.promo {
            height: 200px;
        }

        .main-video iframe {
            width: 100%;
            height: 200px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    .thumbnails {
        width: 95%;
        margin: 0 auto;
    }

    .thumb-list {
        text-align: center;
    }

    .thumb-list .promo {
        height: auto;
        position: relative;
        width: 38%;
        margin: 0 0 25px 1%;
        display: inline-block;
        border: 1px solid #8f0222;
    }

        .thumb-list .promo img {
            width: 100%;
            height: auto;
            margin: 0 auto;
            position: relative;
            top: 2px;
        }

        .thumb-list .promo p {
            position: absolute;
            top: 0;
            padding: 4px 0 0 0;
            margin: 10px 5% 0 0;
            font-weight: bold;
            text-shadow: #8f0222 1px 1px;
            text-align: center;
            width: 100%;
            text-align: center;
        }


    .about-page h2 {
        text-align: left;
    }

    .about-page.page-block {
        padding: 0;
    }
    .about-image {
        margin: 10px auto;
        width: 100%;
        max-width: 500px;
    }
    .about-image img {
        width: 100%
    }
    #navigation {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        z-index: 10;
    }

        #navigation ul {
            margin-top: 0;
        }

        #navigation .nav-list {
            display: block;
        }

            #navigation ul li {
                width: 100%;
            }

                #navigation ul li a {
                    padding: 15px 0;
                    font-weight: bold;
                    font-size: 1.2em;
                }

    body {
        font-size: .85em;
        font-family: "droid", Verdana, Helvetica, Sans-Serif;
        color: whitesmoke;
        background-color: #000000;
        text-shadow: 1px 1px 6px black;
    }

    .page {
        padding: 0;
        width: 100%;
    }

    #header {
        height: 55px;
        width: 100%;
        background: rgb(0,0,0); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(143,2,34,1) 35%, rgba(143,2,34,1) 63%, rgba(0,0,0,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(35%,rgba(143,2,34,1)), color-stop(63%,rgba(143,2,34,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(143,2,34,1) 35%,rgba(143,2,34,1) 63%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    }

    #header-image {
        display: none;
    }

    #header-logo {
        float: left;
        top: 0;
        width: 75%;
    }

    .link-logo {
        height: 24px;
        position: absolute;
        padding: 10px;
    }

    #header-logo img {
        width: 235px;
    }

    #globalNavButton {
        padding: 0;
        float: right;
        width: 44px;
        border: 0;
        color: #FFFFFF;
        margin: 7px 0 0;
        height: 35px;
        border-left: 1px solid black;
        padding-top: 10px;
    }

        #globalNavButton .bar {
            background-color: white;
            display: block;
            height: 3px;
            line-height: 14px;
            margin: 3px 8px;
            width: 25px;
            position: relative;
            top: 5px;
            transition: all 0.3s ease-in-out;
        }

        #globalNavButton .bar:before, #globalNavButton .bar:after {
            content: "";
            background-color: white;
            box-shadow: 0 1px 0 rgba(0,0,0,0.25);
            display: block;
            height: 3px;
            line-height: 14px;
            margin: 3px 8px;
            width: 25px;
            left: -8px;
            position: absolute;
            transition: all 0.3s ease-in-out;
        }

        #globalNavButton .bar:before {
            top: -11px;
           }

        #globalNavButton .bar:after {
            top: 5px
        }

        #globalNavButton.open .bar {
            background: transparent;
        }

        #globalNavButton.open .bar:before {
            top: -3px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        #globalNavButton.open .bar:after {
            top: -3px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

    #footer ul {
        margin: 0 auto;
    }

    .gigs-page h1 {
        border-bottom: 1px solid #8f0222;
        margin: 0;
        padding-bottom: 10px;
    }

    .gig-list {
        font-size: 1em;
        line-height: 1.7em;
    }

        .gig-list li {
            border-bottom: 1px solid #8f0222;
            padding: 20px 0;
        }

    .email-box {
        width: 100%;
        margin-top: 0;
    }

    .email-section {
        width: 100%;
    }

        .email-section p {
            margin-bottom: 0;
        }

    .enter-email input {
        width: 100%;
        margin-bottom: 10px;
    }

    .promo .music .promo-img {
        background-image: url('images/courtesans.jpg');
        background-position: 0 0;
    }

    .free-music {
        width: 100%;
    }

    .free-music-copy-section {
        width: 100%;
    }

    .free-music-text {
        width: 100%;
    }

    #email form {
        width: 100%;
    }

    .enter-email input {
        width: 100%;
        box-sizing: border-box;
    }

    .email-box p {
        margin: 0;
    }

    .submit-email {
        width: 100%;
    }
    .store-item {
        width: 45%;
    }

    .epk-column {
        display: block;
        width: 100%;
    }
    .epk-link-icons {
        text-align: center;
    }
}


@media (max-width: 541px) {
    .store-item {
        width: 100%;
    }
}

.main-video.promo {
    margin: 0 auto;
    border-radius: 0;
}

.promo {
    width: 100%;
    height: 165px;
    margin: 30px 0;
    position: relative;
    box-shadow: 0 0 20px #888;
}

    .promo.current {
        box-shadow: 0 0 20px #8f0222;
    }

a.promo-link {
    height: 150px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.promo .promo-img {
    background-size: cover;
    background-origin: border-box;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 99%;
}

li.promo .promo-img {
    height: 108%;
}

li.promo.text-only {
    height: 211px;
    background-color: #000000;
}

.promo .music .promo-img {
    background-image: url('images/music-thumb.jpg');
}

.promo .gigs .promo-img {
    background-image: url('images/gigs-thumb.jpg');
}

.promo .about .promo-img {
    background-image: url('images/about-thumb-1.jpg');
}

.promo-text {
    position: absolute;
    top: 0;
    padding: 0px 5px 0 4%;
    width: 100%;
    font-weight: normal;
    width: 40%;
}

.even .promo-text {
    right: 0;
    width: 48%;
}

