body {
    font-size: 1em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: whitesmoke;
    background-color: #ccc;
    background: url('/Content/images/bgs/treadplate_background_mobile.jpg') 0 0 repeat;
    width: 100%;
    margin: 0;
}

h1 {
    font-size: 2em;
}

.promo .promo-text {
    padding-top: 7px;
}

.promo p {
    -webkit-margin-before: 0;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

.clearfix:after {
    content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

/* GRID SETUP
-----------------------------------------------------------*/

.main-section {
    display: block;
    width: 95%;
    margin: 0 auto;
    position: relative;
}

.page {
    width: 95%;
    max-width: 904px;
    margin: 0 auto; 
    background-color: #000;  
    background-color: rgba(0,0,0,0.65);
    padding: 20px;
}

/***********    FOOTER PARTIAL CSS        ************************************************/
    
#footer ul {    
    width: 95%;
    position: relative;
    margin: 0;
    padding: 0;   
}

#social-media li {
    width: 33%;
    height: 100%;
    margin: 0px auto;
    float: left;
    display: inline;
    text-align: center;
}


/*************** HEADER PARTIAL CSS **************************************************/

#header-image {
    background: url('/Content/images/header-band.jpg') 0 0 no-repeat;
    width: 100%;
    height: 191px;
    background-size: 100%;
}

#header-logo {
    position: absolute;
    top: 110px;
    width: 100%;
}

#header-logo img {
    width: 97%;
}

#navigation {
    width: 95%;
    border-radius: 0px 0px 10px 10px;
    margin: 0 auto;
    display: block;
}

#navigation ul {
    height: 40px;
}

#navigation ul li {
    display: inline;
    float: left; 
    text-align: center;
    width: 16.666667%;
}

#navigation ul li a {
    display: block;
    background: rgb(0,0,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(143,2,34,1) 35%, rgba(143,2,34,1) 63%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(35%,rgba(143,2,34,1)), color-stop(63%,rgba(143,2,34,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(143,2,34,1) 35%,rgba(143,2,34,1) 63%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(143,2,34,1) 35%,rgba(143,2,34,1) 63%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(143,2,34,1) 35%,rgba(143,2,34,1) 63%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(143,2,34,1) 35%,rgba(143,2,34,1) 63%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    padding: 10px 0 10px 0; 
    width: 100%;   
    border-left: 1px solid black;
}

#navigation ul li a.current, #navigation ul li a:hover {
    background: rgb(0,0,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(193,3,32,1) 35%, rgba(193,3,32,1) 65%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(35%,rgba(193,3,32,1)), color-stop(65%,rgba(193,3,32,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(193,3,32,1) 35%,rgba(193,3,32,1) 65%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(193,3,32,1) 35%,rgba(193,3,32,1) 65%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(193,3,32,1) 35%,rgba(193,3,32,1) 65%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(193,3,32,1) 35%,rgba(193,3,32,1) 65%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

.gig-list {
    font-size: 1.6em;
    line-height: 1.8em;
}

.gig-list a {
    text-decoration: underline;
}

.gig-list a:hover {
    text-decoration: none;
}

.links {
    text-align: center;
}
    
.links a {
    font-size: 1.3em;
    text-decoration: underline;
}
    
.links a:hover {
    text-decoration: none;
}
    
.next-gig-page h2{
    text-align: center;
}

.next-gig-page .event {
    text-align: center;
}

.join {
    font-size: 1.3em;
    font-weight: bold;
    background: #4c69ba;
    background: -webkit-gradient(linear, center top, center bottom, from(#4c69ba), to(#3b55a0));
    background: -webkit-linear-gradient(#4c69ba, #3b55a0);
    border: none;
    -webkit-border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: 33px;
    line-height: 33px;
    padding: 0;
    text-shadow: 0 -1px 0 #354c8c;
    white-space: nowrap;
    width: 280px;
    margin: 0 auto 30px;
}

.join:hover {
    background: #5b7bd5;
    background: -webkit-gradient(linear, center top, center bottom, from(#5b7bd5), to(#4864b1));
    background: -webkit-linear-gradient(#5b7bd5, #4864b1);
    border-color: #5874c3 #4961a8 #41599f;
    -webkit-box-shadow: inset 0 0 1px #607fd6;
}

.gig-poster img {    
    margin: 0 auto;
    display: block;
}
    
.small {
    font-size: 0.7em;
    margin: 0;
    padding: 0;
    text-indent: 155px;
}

#email {
    width: 100%;
    background-color: black;
    text-align: center;
    box-shadow: 0 0 20px #888;
    margin-top: 10px;
    border-radius: 5px;
    padding: 7px;
    box-sizing: border-box;
}

.email-section {
    width: 70%;
    float: left;
}

.submit-email {
    background: rgb(0,0,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(143,2,34,1) 35%, rgba(143,2,34,1) 63%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(35%,rgba(143,2,34,1)), color-stop(63%,rgba(143,2,34,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(143,2,34,1) 35%,rgba(143,2,34,1) 63%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(143,2,34,1) 35%,rgba(143,2,34,1) 63%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(143,2,34,1) 35%,rgba(143,2,34,1) 63%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(143,2,34,1) 35%,rgba(143,2,34,1) 63%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    border-radius: 5px;
    width: 158px;
    color: white;
}

.submit-email:hover {
    cursor: pointer;
    background: rgb(0,0,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(193,3,32,1) 35%, rgba(193,3,32,1) 65%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(35%,rgba(193,3,32,1)), color-stop(65%,rgba(193,3,32,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(193,3,32,1) 35%,rgba(193,3,32,1) 65%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(193,3,32,1) 35%,rgba(193,3,32,1) 65%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(193,3,32,1) 35%,rgba(193,3,32,1) 65%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(193,3,32,1) 35%,rgba(193,3,32,1) 65%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

.email-box {
    width: 25%;
    float: left;
    margin-top: 10px;
}

.email-box p {
    margin: 0;
}

.enter-email {
    margin-top: 7px;
}
.track-download {
    text-align: center;    
}

.track-download a {
    text-decoration: underline;
    font-size: 1.8em;
    text-align: center;
}

.track-download a:hover {
    text-decoration: none;
}

.thumbnail.promo.current {
    box-shadow: 0 0 20px #8f0222;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -kthtml-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.thumbnail.promo {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -kthtml-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.thumbnail.promo:hover {
    box-shadow: 0 0 20px #8f0222;
}

.intro-text {
    width: 57%;
    display: block;
    float: left;
    margin-right: 20px;
}

.main-promo {
    width: 35%;
    display: block;
    float: left;
    cursor: pointer;
}

.main-promo .promo, .main-promo .promo a.promo-link {
    height: 245px;
    position: relative;
}

.main-promo .promo a:before {
    content: "";
    display: block;
    position: absolute;
    top: 91px;
    left: 126px;
    background: url('images/youtube-sprite.png') 0px -65px no-repeat;
    height: 61px;
    width: 87px;
    z-index: 1;
    cursor: pointer;
}

.main-promo .promo a:hover:before {
    background-position: 0 0;
}

.promo .music .promo-img {
    background-position: -124px 0;
    border-radius: 10px;
}

.free-music {
    width: 20%;
    display: block;
    float: left;
    font-size: 1.5rem;
    color: #c10320;
    font-weight: bold;
}
.free-music-text {
    width: 75%;
    display: block;
    float: left;
}
.free-music-text p {
    margin: 0;
}

.login {
    position: absolute;
    top: 0;
    right: 0;

}

.signup-field {
    display: block;
}

.signup-field label {
    width: 200px;
    display: inline-block;
}

input {
    color: gray;
}

.submit-button {
    color: black;
}

/* store page */

img.store-item-img {
    height: 200px;
    width: 200px;
}

.store-item {
    
}